.container {
  width: 1200px;
  margin-bottom: 25px; }

.container-header {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.row {
  margin-bottom: 25px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.row-header {
  margin-bottom: 0; }

.row-flex-start {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start; }

.h5-search {
  margin: 10px 0;
  margin-left: 25px; }

.btn-import-product {
  margin-right: 35px; }

.form-control.form-control-search {
  width: 25%; }

.btn-search {
  margin-left: 20px;
  width: 150px; }

.form-control-country {
  width: 300px; }
